{% extends "base.html" %} {% block content %}

<div class="contentarea">
  {{ data }} {{ test}}
  <div class="Input">
    <img class="cropped" src="" alt="" />
    <form
      action="{% url 'scanner_lion' %}"
      method="POST"
      name="inputForm"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="title" id="crop-title" style="display: none">
        <h5>Crop Gambar</h5>
        <p>Krop dengan rapi untuk hasil maksimal</p>
      </div>
      <div id="camera" class="camera">
        <div class="title">
          <h5>Orc lion</h5>
          <p>Arahkan kamera ke label</p>
        </div>
        <video id="video">Video stream not available.</video>
        <button id="startbutton" type="button">
          <i class="fas fa-camera"></i> Capture
        </button>
        <input hidden id="webimg" value="" name="src" type="text" />
        <input hidden value="lion" name="pesawat" type="text" />
        <canvas id="canvas"> </canvas>
      </div>
      <br />
      <div>
        <img id="photo" alt="your image" width="300" height="700" />
      </div>
      <br />
      <div id="btn-warpper">
        <button
          style="display: none"
          id="scan"
          type="submit"
          class="btn scan"
          id="submit"
        >
          <i class="fas fa-wrench"></i> Scan
        </button>
        <button style="display: none; margin: auto" id="crop" class="btn save">
          <i class="fas fa-crop"></i> Crop
        </button>
      </div>
    </form>
  </div>
</div>
<div class="container page">
  <div class="box-2">
    <div class="result"></div>
  </div>
  <!--rightbox-->
  <div class="box-2 img-result hide">
    <!-- result of crop -->
  </div>
  <!-- input file -->
</div>
{% endblock content %} {% block script %}
<script>
  (function () {
    // The width and height of the captured photo. We will set the
    // width to the value defined here, but the height will be
    // calculated based on the aspect ratio of the input stream.

    var width = 320; // We will scale the photo width to this
    var height = 0; // This will be computed based on the input stream

    // |streaming| indicates whether or not we're currently streaming
    // video from the camera. Obviously, we start at false.

    var streaming = false;

    // The various HTML elements we need to configure or control. These
    // will be set by the startup() function.

    var camera = null;
    var video = null;
    var canvas = null;
    var photo = null;
    var startbutton = null;

    function startup() {
      camera = document.getElementById("camera");
      video = document.getElementById("video");
      canvas = document.getElementById("canvas");
      photo = document.getElementById("photo");
      input = document.getElementById("webimg");
      crop = document.getElementById("crop");
      cropTitle = document.getElementById("crop-title");
      scan = document.getElementById("scan");
      startbutton = document.getElementById("startbutton");

      navigator.mediaDevices
        .getUserMedia({
          video: {
            facingMode: "environment",
          },
          audio: false,
        })
        .then(function (stream) {
          video.srcObject = stream;
          video.play();
        })
        .catch(function (err) {
          console.log("An error occurred: " + err);
        });

      video.addEventListener(
        "canplay",
        function (ev) {
          if (!streaming) {
            height = video.videoHeight / (video.videoWidth / width);

            // Firefox currently has a bug where the height can't be read from
            // the video, so we will make assumptions if this happens.

            if (isNaN(height)) {
              height = width / (4 / 3);
            }

            video.setAttribute("width", width);
            video.setAttribute("height", height);
            canvas.setAttribute("width", width);
            canvas.setAttribute("height", height);
            streaming = true;
          }
        },
        false
      );

      startbutton.addEventListener(
        "click",
        function (ev) {
          takepicture();
          ev.preventDefault();
        },
        false
      );

      clearphoto();
    }

    // Fill the photo with an indication that none has been
    // captured.

    function clearphoto() {
      var context = canvas.getContext("2d");
      context.fillStyle = "#AAA";
      context.fillRect(0, 0, canvas.width, canvas.height);

      var data = canvas.toDataURL("image/png");
      photo.setAttribute("src", data);
    }

    // Capture a photo by fetching the current contents of the video
    // and drawing it into a canvas, then converting that to a PNG
    // format data URL. By drawing it on an offscreen canvas and then
    // drawing that to the screen, we can change its size and/or apply
    // other changes before drawing it.
    let imgCropper = "";

    function takepicture() {
      var context = canvas.getContext("2d");
      if (width && height) {
        canvas.width = width;
        canvas.height = height;
        context.drawImage(video, 0, 0, width, height);

        var data = canvas.toDataURL("image/png");
        photo.setAttribute("src", data);
        imgCropper = new Cropper(photo, {});
        camera.style.display = "none";
        crop.style.display = "block";
        cropTitle.style.display = "block";
      } else {
        clearphoto();
      }
    }

    let save = document.querySelector(".save");
    let scan = document.querySelector(".scan");
    let cropped = document.querySelector(".cropped");
    let img_result = document.querySelector(".img-result");
    let dwn = document.querySelector(".download");
    save.addEventListener("click", (e) => {
      e.preventDefault();
      // get result to data uri
      let imgSrc = imgCropper
        .getCroppedCanvas({
          width: 1000, // input value
        })
        .toDataURL();
      console.log(imgSrc);
      input.value = imgSrc;
      // remove hide class of img
      cropped.classList.remove("hide");
      img_result.classList.remove("hide");
      // show image cropped
      cropped.src = imgSrc;
      document.querySelector(".cropper-container").style.display = "none";
      save.style.display = "none";
      cropTitle.style.display = "none";
      scan.style.display = "block";
    });

    // Set up our event listener to run the startup process
    // once loading is complete.
    window.addEventListener("load", startup, false);
  })();
</script>
{% endblock script %}
